* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    display: flex;
    position: sticky;
    top: 0;
    min-height: 80px;
    width: 100%;
    background-color: #222222;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    height: 80px;
    margin: auto 0 auto auto;
    padding-right: 1em;
    list-style: none;
}

.nav-link, .nav-link:link, .nav-link:active, .nav-link:hover, .nav-link:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    padding: 0 1em;
    color: #79c9d2;
}

.nav-link:hover {
    background-color: #007580;
    transition: background-color .8s ease-in-out;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 150px;
    font-size: 3em;
    color: #007580;
    background-color: hsla(200, 26%, 11%, 1);
}

#intro {
    margin-bottom: .4em;
}

#p-intro {
    font-size: 2rem;
    font-style: italic;
    color: #EFBB35;
}

#projects {
    display: grid;
    grid-template-rows: repeat(3, auto);
    width: 100%;
    background-color: #205a60;
}

#title {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    margin: auto;
    color: #79c9d2;
}

#subtitle {
    height: 35%;
    font-size: 2.2em;
}

#subtitle a {
    text-decoration: none;
    color: #79c9d2;
}

hr {
    width: 45%;
    border: 2px solid #79c9d2;
}

#showroom {
    order: 2;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: minmax(300px, auto);
    column-gap: 2.1em;
    row-gap: 2.1em;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 1em 0;
}

.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
    margin: 0;
    background-color:#211a12;
}

p {
    text-align: center;
}

.project-img {
    height: 299px;
    width: 100%;
}

.link {
    text-decoration: none;
    color: #80929B;
}

.caption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    color: #007580;
    font-size: 1.2em;
    font-weight: 600;
    background-color:#211a12;
}

pre {
    display: flex;
    white-space: pre-line;
    color: #EFBB35;
    margin-left: .8em;
}

.project-tile .material-icons, span {
    color: #EFBB35;
    opacity: 0;
    transition: opacity .8s ease-in-out;
}

.project-tile:hover .material-icons, .project-tile:hover span {
    opacity: 1;
}

.material-icons {
    font-size: 1.5em;
}

#show-more {
    display: flex;
    order: 3;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: #80929B;
}

#btn {
    font-size: 1.7em;
    text-decoration: none;
    font-weight: 500;
    padding: 8px;
    color: #007580;
    background-color: #211a12;
    transition: .7s ease;
}

#btn:hover {
    color: #EFBB35;
}

#contact {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr 1fr;
    justify-content: center;
    height: calc(100vh - 80px);
    color: #007580;
    background-color: hsla(200, 26%, 11%, 1);
}

#contact h1 {
    text-align: center;
    font-size: 3.5em;
    margin-top: auto;
}

#contact>p {
    padding-top: .5em;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}

#contact-nav {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 900px;
    margin: 1em auto auto;
    list-style: none;
    font-size: 2em;
}

.contact-link {
    display: flex;
    width: 33%;
}

.a-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    font-weight: 500;
    color: #007580;
}

.a-link:hover {
    transform: translateY(.6em);
    transition-duration: .7s;
}

.a-link img {
    margin-right: 10px;
}

#footer {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 70% 30%;
    margin-bottom: 0;
    font-size: .9em;
    border-top: 3px solid #EFBB35;
}

#disclaimer {
    grid-area: 1 / 1 ;
    margin: 0 3em 0 1em;
    text-align: justify;
    padding-top: 1em;
}

#copyright {
    grid-area: 1 / 2 ;
    margin-right: 1em;
    text-align: right;
    padding-top: 1em;
}

#footer a {
    text-decoration: none;
    color: #007580;
}

#signature {
    grid-area: 2 / 1 / span 2 / span 2;
    align-self: flex-end;
    text-align: right;
    margin: 0 5px 5px;
    color: hsla(185, 100%, 25%, 0.6);
}

#signature a {
    color: hsla(185, 100%, 25%, 0.6);
}

.fcc-link {
    transition: font-size .3s linear;
}

i.fab {
    vertical-align: middle;
}

.fcc-link:hover {
    font-size: 1.1em;
}